
.footer {
    background-color: #2d2d2d;
    padding: 30px 0px;
    color: snow;

    // height: 100vh;
  }
  
  .container1 {
    // max-width: 1200px;
    margin: 0 70px;
  }
  .address-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    p, a{
      font-size: 24px;
    }
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    button {
      font-size: 24px;
      padding: 10px 15px;
      border-radius: 40px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-left: 70px;
    img {
      width: 300px;
      // margin: auto;
      
    }
  }
  .icon {
    font-size: 45px;
    padding: 10px;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    text-align: left;
  }
  
  .heading {
    font-size: 65px;
    font-weight: 400;
    text-align: left;
  }
  
  p {
    margin: 10px 0;
    font-size: 30px;
  }
  
  a {
    text-decoration: none;
    font-size: 30px;
    margin-top: 20px;
    color: snow;
  }
  
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 10px;
  }


  @media (max-width: 768px) {
    .social-icons{
      align-items: center;
      margin: auto;
    }
    .footer{
      width: 100%;
      height: auto;
    }
    .footer-content {
      flex-direction: column;
      button {
        font-size: 20px;
        padding: 9px 14px;
        border-radius: 40px;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .logo {
      width: 90px; 
    }
    .right-content {
      margin-top: 50px;
    }
    .icon {
      font-size: 25px;
      padding: 10px;
    }
    
    .heading {
      font-size: 36px; 
      padding: 10px;
      text-align: center;
    }
    
    .sub-heading {
      font-size: 28px; 
    }
    .address-content {
      text-align: center;
      margin: auto;

      p, a{
        font-size: 18px;
        text-align: center;
        margin: auto;
      }
    }
    
    .name-image {
      display: flex;
      flex-direction: column;
    }
    .left-content{
      justify-content: center;
      align-items: center;
    }
    .left-content img{
      width: 180px;
      margin: auto;
      
    }
    
  }
  
  /* Adjustments for tablet screens */
  @media (min-width: 769px) and (max-width: 1024px) {
    
    .footer{
      width: 100%;
    }
    .footer-content{
      flex-direction: column;
      align-items: center;
    }
    .main-heading {
      font-size: 42px; 
    }
    .heading{
      text-align: center;
    }
    .sub-heading {
      font-size: 34px; 
    }
    .right-content {
      margin-top: 50px;
      p , a {
        text-align: center;
      }
    }
    .left-content{
      align-items: center;
    }
    .social-icons{
      margin: auto;
    }
  }