@keyframes pop-up {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
    /* Expand width to reveal text */
    border-right: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // height: 100vh;
  // flex: 1; 
  // padding: 20px;
  background-color: #374355;
  color: white;
  width: 100%;



  .logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-right: 20px;
    // border: 2px solid green;

    .navbar-nav {
      // align-self: flex-end;
      margin-right: 70px;

      a {
        padding: 10px 20px;
        font-size: 20px;
      }
    }

    .logo {
      width: 250px;
      margin: 20px 0;
      // height: auto;
      // margin-right: 10px;
    }
  }

  .name-image {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // margin-left: 0%;
    width: 100%;

  }

  // .company-name {
  //   font-size: 16px;
  //   font-weight: 900;
  // }

  .content-container {
    flex: 1;
    text-align: left;
    margin: 0px 40px 20px 70px;
    // margin: 20px;
    // border: 2px solid red;

    .main-heading {
      font-size: 48px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 30px;
      // word-wrap: break-word; 
      // text-wrap: wrap;
    }

    .sub-heading {
      font-size: 42px;
      font-weight: 300;
      margin-top: 50px;
      margin-bottom: 10px;
    }

    .contact-info {
      font-size: 20px;
      color: white;
      margin-top: 30px;
      text-decoration: underline;
    }


  }
}

.header-image {
  width: 700px;
  margin-bottom: 0;
  margin-right: 70px;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    width: 100%;
    padding: 20px;

    .content-container {
      flex: 1;
      text-align: left;
      // margin-right: 20px;
      margin: 20px;
      padding-right: 0px;

      .sub-heading {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
        // padding-left: 10px;
      }

      .main-heading {
        display: block;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 30px;
        // word-wrap: break-word; 
        // text-wrap: wrap;
      }

      .contact-info {
        font-size: 14px;
        color: white;
        text-decoration: underline;
        // padding-left: 10px;
      }

      .logo {
        width: 200px;
        /* Adjust size as needed */
      }
    }
  }

  .navbar-nav {
    display: none;
  }


  .header-image {
    width: 90%;
    margin: auto;
    margin-left: 20px;
    // margin-left: 10px;
  }

  .name-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

}

@media (min-width: 1025px) and (max-width: 1300px) {
  .header-image {
    width: 550px;
    margin-bottom: 0;
    margin-right: 70px;
    align-self: flex-end;
  }
 
  .header .content-container .main-heading {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
    width: 100%;
  }

  .header .content-container .sub-heading {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

/* Adjustments for tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: auto;
  }

  .navbar-nav {
    display: none;
  }

  .logo {
    width: 150px;
    /* Adjust size as needed for tablets */
  }

  .main-heading {
    font-size: 42px;
    /* Adjust font size for tablets */
  }

  .main-heading1 {
    display: none;
  }

  .sub-heading {
    font-size: 34px;
    /* Adjust font size for tablets */
  }

  .content-container {
    padding-right: 0px;
  }

  .header-image {
    width: 80%;
    /* Adjust size as needed for tablets */
    margin: auto;
  }

  .name-image {
    display: flex;
    width: 100%;
    flex-direction: column;

    img {
      margin-left: auto;
    }
  }
}