.popup-text {
    // display: inline-block;
    font-size: 24px;
    // padding: 10px;
    background-color: none;
    animation: pop-up 2s ease-in-out forwards;
}

@keyframes pop-up {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.typewriter-text {
    overflow: hidden;
    /* Hide overflow text */
    border-right: 2px solid white;
    /* Add a border for the typewriter effect */
    white-space: nowrap;
    /* Prevent wrapping */
    animation: typewriter 0.5s steps(10) forwards;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
        /* Expand width to reveal text */
        border-right: none;
    }
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-left {
    animation: slideInFromLeft 1s ease-in-out forwards;
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-right {
    animation: slideInFromRight 1s ease-in-out forwards;
  }

.integration {
    background-color: #374355;
    color: snow;
    &.animate{
        animation: pop-up 2s ease-in-out forwards;
    }
}

.integration > h1 {
    text-align: left;
    // margin: 20px;
    // margin-top: 50px;
    // margin-left: 10%;
    font-weight: 400;
    padding: 20px 20px 0px 70px;
    font-size: 50px;
}

.integration > p {
    font-size: 30px;
    text-align: right;
    // border: 2px solid red;
    right: 0;
    padding: 10px 10px;
    // text-align: justify;
}

.integration > img {
    width: 350px;
    margin: 20px;
}

.first {
    padding-top: 150px;
}

.second {
    padding-bottom: 150px;
}

@media (max-width: 768px) {
    .integration>h1 {
        font-size: 34px;
        font-weight: 400;
    }

    .integration {
        width: 100%;
        margin: auto;
        // padding: 50px;
        img {
            width: 90%;
            margin: 10px;
        }
        p{
            text-align: justify;
            // padding: 20px;
        }
    }

    .first {
        padding-top: 0;
        // margin-top: 0;
        padding-left: 150px;
        padding-right: 0;
    }

    .second {
        padding-right: 150px;
        padding-bottom: 0;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .integration {
        width: 100%;
        margin: auto;
    }

    .first {
        padding-top: 150px;
        // padding-top: 0;
    }

    .second {
        padding-bottom: 150px;
        // padding-bottom: 0;
    }

    .integration>img {
        width: 400px;
        margin: 20px;
    }
}