.popup-text {
    display: inline-block;
    font-size: 24px;
    // padding: 10px;
    background-color: none;
    animation: pop-up 1s ease-in-out forwards;
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .typewriter-text {
    
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid black; /* Add a border for the typewriter effect */
    // white-space: nowrap; /* Prevent wrapping */
    animation: typewriter 4s steps(5) forwards;
  }
  @keyframes riseIn {
    0% {
      opacity: 0;
      transform: translateY(100px); // Adjust the distance from which the element rises
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .rise-in {
    animation: riseIn 0.5s ease forwards; // Adjust the duration and timing function as needed
  }
  
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Expand width to reveal text */
      border-right: none;
    }
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-left {
    animation: slideInFromLeft 1s ease-in-out forwards;
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-right {
    animation: slideInFromRight 1s ease-in-out forwards;
  }
  

.package{
    background-color: #7aa8cf;
    color: #2d2d2d;
    padding: 30px;
    display: flex;
    // height: 100vh;
    flex-direction: column;
    &.animate {
        animation: slideInFromRight 1s ease-in-out forwards;
    }
        h1{
            font-weight: 400;
            font-size: 40px;
            text-align: left;
        }
        h3{
            text-align: left;
        }
    
}
.package-text {
    margin: 20px;
}
.three-para {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    text-align: left;
}
.three-para > div{
    border: 2px solid white;
    padding: 10px;
    width: 300px;
}
.three-para  h1 {
    font-size: 40px;
    font-weight: 300;
}
.three-para  li {
    font-size: 20px;
    // text-align: justify;

}
.three-para .element1 {
    &.rise-in {
      animation: riseIn 1s ease forwards;
  }
}
.three-para .element2 {
    &.rise-in {
      animation: riseIn 2s ease forwards;
  }
}
.three-para .element3 {
    &.rise-in {
      animation: riseIn 2.5s ease forwards;
  }
}
.quote {
    font-size: 36px;
    font-weight: 300;
    border: 2px solid white;
    width: 250px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    
    
    .three-para {
        flex-direction: column;
        h1{
            font-size: 36px;
            font-weight: 400;
        }
        li{
            font-size: 16px;
        }
    }
    .three-para > div{
        border: 2px solid white;
        padding: 20px;
        margin: 10px auto;
        width: 90%;
    }
    .package{
        background-color: #7aa8cf;
        color: #2d2d2d;
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        height: auto;
        .quote{
            font-size: 24px;
            text-align: center;
            width: 180px;
        }
    
    }
    
}

@media (min-width: 769px) and (max-width: 1024px){
    .three-para {
        flex-direction: column;
    }
    .three-para > div{
        border: 2px solid white;
        padding: 20px;
        margin: 10px auto;
        width: 450px;
    }
    .package{
        background-color: #7aa8cf;
        color: #2d2d2d;
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    
    }
    .package-text {
        h1{
            font-size: 40px;
        }
            h3 {
            font-size: 24px;
        }
    }
}