.popup-text {
    display: inline-block;
    font-size: 24px;
    // padding: 10px;
    background-color: none;
    animation: pop-up 1s ease-in-out forwards;
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .typewriter-text {
    
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid white; /* Add a border for the typewriter effect */
    // white-space: nowrap; /* Prevent wrapping */
    animation: typewriter 4s steps(40) forwards;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Expand width to reveal text */
      border-right: none;
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Text starts invisible */
    }
    50% {
      opacity: 0.6; /* Text fully visible */
    }
    100% {
      opacity: 1; /* Text fades out */
    }
  }
  
  
  /* Apply the animation to the text */
  .fade-in-out {
    animation: fadeInOut 3s ease-in-out forwards; /* Adjust duration and timing function as needed */
  }

.problem {
    background-color: #374355;
    color: snow;
    padding: 30px 0 20px 0;
    // height: 100vh;
    &.animate {
        animation: fadeInOut 2s ease-in-out forwards;
    }
    h1{
        font-weight: 400;
        font-size: 42px;
        margin-bottom: 50px;
    }
}
.problem-div{
    display: flex;
    justify-content: space-around;
    margin: 10px 50px;
    p{
      font-size: 18px;
    }
    img{
      height: 350px;
      width: 450px;
    }
}
.problem-div > div {
    // width: 300px;
}
.problem-div h2 {
    color: white;
    font-size: 24px;
    width: 400px;
    text-align: left;
    span {
      color: #ebb5b5;
    }
}
.problem-div-resp{
    display: none;
}

@media (max-width: 768px) {
    .problem-div{
        display: none;
    }
    .problem-div-resp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;

        p{
          font-size: 18px;
        }
    }
    .problem > .typewriter-text {
        font-size: 24px;
        font-weight: 400;
        text-wrap: wrap;
    }
    .problem {
        width: 100%;
        margin: auto;
        height: auto;
        img{
            width: 300px;
            margin: 20px auto;
        }
    }
    .problem {
        background-color: #374355;
        color: snow;
        padding: 30px;
        h1{
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    
    .problem-div-resp > div {
        width: 300px;
    }
    .problem-div-resp h2 {
        color: white;
        span {
          color: #ebb5b5;
        }
    }
    
    }

@media (min-width: 769px) and (max-width: 1024px){
    .problem {
        width: 100%;
        margin: auto;
        img{
            width: 400px;
            margin: 20px auto;
        }
        h1{
            // text-wrap: wrap;
            word-wrap: break-word;
        }
    }
    .problem-div {
      display: none;
    }
    
    .problem-div-resp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .problem-div-resp > div {
        // width: 300px;
    }
    .problem-div-resp h2 {
        color: white;
        width: 80%;
        span {
          color: #ebb5b5;
        }
    }
}
