.popup-text {
    display: inline-block;
    font-size: 24px;
    // padding: 10px;
    background-color: none;
    animation: pop-up 1s ease-in-out forwards;
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .typewriter-text {
    
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid white; /* Add a border for the typewriter effect */
    white-space: nowrap; /* Prevent wrapping */
    animation: typewriter 1s steps(40) forwards;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Expand width to reveal text */
      border-right: none;
    }
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-left {
    animation: slideInFromLeft 1s ease-in-out forwards;
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-from-right {
    animation: slideInFromRight 1s ease-in-out forwards;
  }


.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &.animate {
        animation: pop-up 1s ease-in-out forwards;
    }
    h1{
        font-size: 50px;
        font-weight: 400;
        color: #7aa8cf;
        text-align: center;
        margin: auto;
    }
    a{
        color: #2d2d2d;
        font-size: 16px;
        text-decoration: underline;
        margin-top: 10px;
        margin: auto;
        text-align: center;
    }
    img{
        width: 50%;
        margin: auto;
    }
}
@media (max-width: 768px) {
    
    .services {
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        text-align: center;
        img{
            width: 90%;
        }
        div{
            width: 90%;
        }
        h1 {
            font-size: 30px;
            font-weight: 400;
            margin: 20px;
            text-align: center;
        }
    }
    
    }

@media (min-width: 769px) and (max-width: 1024px){
    .services {
        width: 80%;
        margin: auto;
    }
    .services > h1 {
        font-size: 30px;
        font-weight: 400;
    }
    .services {
        width: 100%;
        margin: auto;
        img{
            width: 550px;
        }
    }
}
