

.team-text > h1 {
    font-size: 56px;
    font-weight: 400;
    color: #a53656;
    text-wrap: wrap;
}
.team-text {
    width: 50%;
    text-align: justify;
    margin: 0px 50px 30px 70px;
}
h4 {
    font-size: 27px;
}
.team{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    // &.animate{
    //     animation: pop-up 2s ease-in-out forwards;
    // }
}
.team-img {
  margin-top: 70px;
}
.team-img >img{
    width: 400px;
    margin: 10px;
}
.gray-h4{
    color: gray;
}
@media (max-width: 768px) {
    .team-text > h1 {
        font-size: 30px;
        font-weight: 400;
        text-wrap: wrap;
        text-align: center;
    }
    .team {
        width: 100%;
        margin: auto;
        flex-direction: column;
        padding: 10px;
        height: auto;
        
    }
    .team-text {
        width: 95%;
        text-align: justify;
        margin: auto;
        margin: 10px;
    }
    .team-img img{
        width: 420px;
        // margin-top: 0px ;
    }
    .team-img {
      margin-top: 0px;
    }
    .team h4 {
        font-size: 18px;
    }
    
      .team-img img:nth-child(2),
      .team-img img:nth-child(3) {
        display: none;
      }
 }

@media (min-width: 769px) and (max-width: 1024px){
    .team {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    .team-text {
        width: 90%;
        text-align: justify;
        margin: auto;
    }
    .team > h4 {
        font-size: 28px;
    }
}

.popup-text {
    display: inline-block;
    font-size: 24px;
    // padding: 10px;
    background-color: transparent;
    animation: pop-up 1s ease-in-out forwards;
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .typewriter-text {
    
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid black; /* Add a border for the typewriter effect */
    // white-space: nowrap; /* Prevent wrapping */
    animation: typewriter 5s steps(40) forwards;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Expand width to reveal text */
      border-right: none;
    }
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Text starts invisible */
    }
    50% {
      opacity: 0.6; /* Text fully visible */
    }
    100% {
      opacity: 1; /* Text fades out */
    }
  }
  
  /* Apply the animation to the text */
  .fade-in-out {
    animation: fadeInOut 2s ease-in-out forwards; /* Adjust duration and timing function as needed */
  }